.dropdown-toggle::after {
    content: '';
    border: none;
}

.dropdown-menu a {
    font-size: 22px;
    padding: 8px 10px;
    
}

.dropdown-menu a:hover {
    background-color: #2c5383;
    color: #f0a828;
}

.dropdown-toggle img{
    transition: all .3s;
}

.dropdown-toggle.show img {
    transform: rotate(-180deg);
}